:root {
    --background: #1d1c19;
    --text-color: #f7dd43;
}

body.blue {
    --text-color: #338AF3;
}

body.green {
    --text-color: #047C3F;
}

* {
  box-sizing: content-box;
}

#count-down {
    display: flex;
    gap: 24px;
    list-style: none;
    justify-content: center;
    
}

#count-down li {
    background-color: var(--background);
    border-radius: 15px;
    color: var(--text-color);
    font-size: 32px;
    font-weight: bold;
    height: 35px;
    padding: 8px 12px;
    position: relative;
    text-align: center;
    width: 35px;
}

#count-down li:before,
#count-down li:after {
    position: absolute;
}

#count-down li:not(:last-child):before {
    content: ":";
    font-size: 24px;
    right: -15px;
    top: 15px;
}

#count-down li:after {
    bottom: -16px;
    display: flex;
    font-size: 10px;
    font-weight: 100;
    justify-content: center;
    width: calc(100% - 22px);
}

#count-down li.days:after {
    content: "dias";
}

#count-down li.hours:after {
    content: "horas";
}

#count-down li.minutes:after {
    content: "minutos";
}

#count-down li.seconds:after {
    content: "segundos";
}