@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --card-primary-color: #f7dd43;
    --card-title-border-color: #746615;
    --card-bg-color: #1d1c19;
    --bg: url(./assets/bg.svg);
}

body.blue {
    --card-primary-color: #338AF3;
    --card-title-border-color: #338AF3;
    --card-bg-color: #202024;
    --bg: url(./assets/bg-blue.svg);
}

body.green {
    --card-primary-color: #047C3F;
    --card-title-border-color: #047C3F;
    --card-bg-color: #1A1F1B;
    --bg: url(./assets/bg-green.svg);
}

body {
    background: #121214 var(--bg) no-repeat fixed top center/cover;
    font-family: 'Roboto', sans-serif;
}

#app {
    width: fit-content;
    margin: auto;
    padding-top: 52px;
}

#app header {
    margin-bottom: 63px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card {
    padding: 32px 23px;
    text-align: center;
    background-color: var(--card-bg-color);
    border-bottom: 2px solid var(--card-primary-color);
    border-radius: 6px;
    opacity: 0;
    animation: appear 0.3s  forwards;
}

.card h2 {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid var(--card-title-border-color);
    border-radius: 6px;
    width: fit-content;
    color: var(--card-primary-color);
    margin-inline: auto;
    margin-bottom: 53px;
}

.card h2 span {
    color: #e1e1e6;
    font-size: 14px;
    text-transform: uppercase;
}

.card ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 270px;
}

.card ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card ul li + li {
    padding-top: 24px;
    border-top: 1px solid #323238;
}

.card ul li strong {
    font-weight: 900;
    font-size: 36px;
    line-height: 125%;
    color: #E1E1E6;
}

.card ul li:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.card ul li {
    transition: transform 0.3s;
}

header img {
    padding-bottom: 30px;
    opacity: 0;
    animation: appear2 1.5s forwards;
}

footer p {
    padding: 50px 0px 20px 0px;
    text-align: center;
    color: #E1E1E6;
    font-size: 0.8em;
}

a {
    color: #E1E1E6;
}

@keyframes appear {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes appear2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 800px) {
    #app header {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    #cards {
        max-width: 670px;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (min-width: 1180px) {
    
    #cards {
        max-width: 1015px;
    }
}